@{
    ViewData["Title"] = "Home Page";
}
@* Welcome info *@
<div class="text-center">
    <h1 class="display-4">Welcome to Wagg.ly</h1>
    <p>Register for free today and meet dog owners and walkers in your local area! Find the best solution for you.</p>
</div>
