@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

@* brief example about us page *@
<p>Wagg.ly is a new web app that allows you to register yourself or your dog for walks. Wagg.ly enables you to find other people with dogs or allows you to take a dog with you on your adventures. Wagg.ly aims to hit this goal by allowing communication between users via email.</p>

